<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
<script type="text/javascript" src="fileUpload.js"></script>
<link rel="stylesheet" href="../../static/styles.css">

<title> error </title>
</head>

<body class="center">
  <div align="center">
  <h1 class="text text-danger"><b>error!</b></h1>
  <h2 class="text text-light">{{ err }}</h2>
  <br></br>
  <input type="button" class="btn btn-danger" value="home" onclick="window.location.href='/'"></input>
  </div>
</body>
</html>
