<style>

* {
  font-family: "Oswald", monospace;
}

h1{
  font-size: 3rem;
}


.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body{
  background-color: #222;
  font-size: 16px;
}

textarea {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;
    resize: none;
}

</style>
